.header{
    background-color: #072a20;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    padding: 20px;
}

.body{
    background-color: #0B3D2E;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.player{
    position: relative;
    color: #f5f5f5;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button1{
    background-color: blue;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
}

.button2{
    background-color: green;
    font-size: 20px;
    margin-left: 50px;
    border-radius: 10px;
    padding: 5px;
}

.buttons{
    color: #f5f5f5;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 700px;
    margin-top: -55px;
    
}