.header{
    position: relative;
    background-color: #072a20;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    padding: 30px;
}

.header h1{
    position: relative;
    right: 40px;
    top: 20px;
}

.body{
    background-color: #0B3D2E;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.player{
    position: relative;
    color: #f5f5f5;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.options{
    position: relative;
    background-color: blue;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 300px;
    margin-top: -30px;
    /* width: 200px;
    height: 100px; */
    padding: 20px;

    font-size: 15px;              /* increase text size */
  text-align: center; 
}

.playerinfo{
    color: #f5f5f5;
}

.playerinfo li {
  font-size: 26px;
}

.playerinfo strong {
  font-size: 28px;
}

.popup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); /* dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  
}

.popupinner {
  background-color: blue; /* your preferred popup color */
  color: #f5f5f5;         /* readable text */
  padding: 2rem;
  border-radius: 8px;
  min-width: 300px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 24px;              /* increase text size */
  text-align: center; 
}
